#proses-pages {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
}

.card-header {
  font-weight: bold;
}

.prediction {
  font-size: 1.5rem;
}

.btn-predict {
  width: 200px;
  height: 40px;
  left: -1px;
  top: 72px;
  border-radius: 5px;
  border: 0px;
}
