#inputData-pages {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
}

.card-content {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 40%;
  width: 77rem;
}

.btn-submit {
  width: 200px;
  height: 40px;
  left: -1px;
  top: 72px;
  background: #ffcc48;
  color: #000;
  border-radius: 5px;
  border: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

.page-item:hover .page-link {
  background-color: #ddd;
}
