.content {
  background-image: url("../../Assets/bg-gradient.png");
  background-size: contain;
}

#login-pages {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#login-pages .logo {
  flex-direction: row;
  width: 15%;
  height: 15%;
  display: flex;
  gap: 10px;
}

#login-pages .btn-login {
  width: 200px;
  height: 40px;
  left: -1px;
  top: 72px;
  background: #cbe1f3;
  color: #000;
  border-radius: 5px;
  border: 0px;
  font-weight: 500;
}
